.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  width: 30%;
  height: 100%;
}

.status {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -0.75%;
  color: #667085;
  padding-left: 15px;
  /* margin: 0 auto; */
}
